replicaCount: 1

image:
  repository: sanaeabahcine371/petclinic1
  tag: latest

service:
  type: LoadBalancer
  port: 8080

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 50

ingress:
  enabled: false

serviceAccount:
  create: true
  name: "petclinic-service-account"
